:root {
  --bright-orange: hsl(31, 77%, 52%); /*card 1*/
  --dark-cyan: hsl(184, 100%, 22%); /*card 2*/
  --very-dark-cyan: hsl(179, 100%, 13%); /*card 3*/
  --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */
  --font-1: "Big Shoulders Display", cursive;
  --font-2: "Lexend Deca", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 15px;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: var(--very-light-gray);
  font-family: var(--font-2);
  font-weight: 400;
  min-height: 100vh;
  min-width: 100vw;
  width: min-content;
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
}

.card {
  background-color: var(--card-background);
  margin: 1rem;
  width: 325px;
  height: 1325px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--very-light-gray);
  font-family: var(--font-1);
  font-size: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

h1,
p {
  margin: 0;
}

p {
  color: var(--transparent-white);
  font-size: 15px;
  line-height: 1.5rem;
}

button {
  background-color: var(--very-light-gray);
  font-family: var(--font-2);
  font-size: 15px;
  border: 0;
  border-radius: 50px;
  height: 50px;
  width: 145px;
  cursor: pointer;
}

button:hover,
button:focus,
button:first-of-type:hover,
button:first-of-type:focus,
button:last-of-type:hover,
button:last-of-type:focus {
  border: 2px solid var(--very-light-gray);
  background-color: transparent;
  color: var(--very-light-gray);
}

section {
  background-color: var(--dark-cyan);
  padding: 48px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section button {
  color: var(--dark-cyan);
}

section:first-of-type {
  background-color: var(--bright-orange);
}
section:first-of-type button {
  color: var(--bright-orange);
}

section:last-of-type {
  background-color: var(--very-dark-cyan);
}
section:last-of-type button {
  color: var(--very-dark-cyan);
}

section img {
  max-width: 65px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--very-dark-cyan);
}

.attribution a {
  font-size: 11px;
  color: var(--dark-cyan);
}

@media (min-width: 450px) {
  .card {
    flex-direction: row;
    width: 920px;
    height: 500px;
  }

  button {
    margin-top: 3rem;
  }
}
